@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins";
  line-height: 1.5;

  color-scheme: light dark;
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  padding: clamp(1.2rem, 0.8211rem + 1.3474vw, 2rem);
  font-size: 16px;
  position: relative;
}
.App {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60vh;
}
.title {
  font-size: clamp(2.281rem, 0.2914rem + 7.9584vw, 4.768rem);
}
.app-wrapper {
    position: relative;
    border: 1px solid #646cff;
    background-color: #1d1d1d;
    border-radius: 16px;
    display: grid;
    gap: 0.5rem;
    max-width: 1100px;
    padding: 8px;
    width: 100%;
}
.dropdown {
    padding: clamp(0.875rem, 0.8rem + 0.2667vw, 1rem);
}
.dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.container {
    white-space: nowrap;
}
.input {
    border: 0;
    border-radius: 12px 12px 6px 6px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-block: 1rem;  
}
.generate-btn {
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-transform: uppercase;
    background-color: #646cff;
    color: #0d0d0d;
    border-radius: 6px 6px 12px 12px;
}
.footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    font-size: clamp(0.875rem, 0.8158rem + 0.2105vw, 1rem);
    align-items: center;
}
.credit {
    font-style: italic;
    font-weight: 200;
}
.footer > a {
    display: flex;
    align-items: center; 
    justify-content: center;

}
.footer svg {
    cursor: pointer;
    color: white;
}
.footer svg:hover {
    cursor: pointer;
    color: #646cff;
}